In [12]:
import requests
import bs4
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', None)

In [14]:
def read_data(url):
    """
    read in the data from the url.
    ---------------
    Parameters:
    ---------------
    
    Inputs: 
        url (string): the url of interest 

    Outputs: 
        resulted (HTML): the HTML code to search through
    
    """
    r = requests.get(url)
    print(r)
    resulted = bs4.BeautifulSoup(r.text, 'html')
    return(resulted)

In [16]:
url = "https://collegefootballnetwork.com/highest-paid-college-football-coaches/"
webpage_html = read_data(url)

<Response [200]>

In [20]:
raw_data = webpage_html.find_all('p')[5:-1]

refined_data = []
raw_data_split = [str(i).split('<br/>') for i in raw_data]

for lst in raw_data_split:
    if 'Listed below are the top-paid college' not in lst[0]:
        refined_data += lst

In [58]:
salaries = []
for salary in [i.split(')')[-1].split('$')[-1].replace('</p>', '') for i in refined_data]:
    try:
        salaries.append(float(salary.replace(',','')))
    except:
        salaries.append(np.nan)



schools = []
for school in [i.split(':')[0].split(',')[-1][1:] for i in refined_data]:
    schools.append(school)


coaches_salaries = pd.DataFrame({'school':schools, 'salary':salaries}).dropna().sort_values(['school', 'salary']).drop_duplicates('school', keep='last').reset_index(drop=1)

# replace Texas A&amp;M  with Texas A&M
coaches_salaries.loc[coaches_salaries['school'] == 'Texas A&amp;M', 'school'] = 'Texas A&M'

In [62]:
#coaches_salaries.to_csv('../data/coach_salaries.csv', index=False)

In [60]:
coaches_salaries.sort_values('school')

                 school      salary
0             Air Force   1700000.0
1                 Akron    620000.0
2               Alabama  10000000.0
3     Appalachian State   1500000.0
4               Arizona   2200000.0
5         Arizona State   3950000.0
6              Arkansas   5000000.0
7        Arkansas State    825000.0
8                  Army   2100000.0
9                Auburn   6500000.0
10                  BYU   3000000.0
11           Ball State    600000.0
12               Baylor   3800000.0
13          Boise State   1100000.0
14       Boston College   5000000.0
15        Bowling Green    600000.0
16              Buffalo    500000.0
17           California   4750000.0
18     Central Michigan    640000.0
19            Charlotte    900000.0
20           Cincinnati   3500000.0
21              Clemson  11500000.0
22     Coastal Carolina   1000000.0
23             Colorado  10800000.0
24       Colorado State   1700000.0
25             Delaware    536000.0
26                 Duke   3700000.0
27        East Carolina    500000.0
28     Eastern Michigan    550000.0
29                  FIU    750000.0
30              Florida   7400000.0
31     Florida Atlantic   1000000.0
32        Florida State  10000000.0
33         Fresno State   1100000.0
34              Georgia  13200000.0
35     Georgia Southern    800000.0
36        Georgia State    900000.0
37         Georgia Tech   2800000.0
38               Hawaii    700008.0
39              Houston   2000000.0
40             Illinois   6000000.0
41              Indiana   3500000.0
42                 Iowa   7000000.0
43           Iowa State   4000000.0
44   Jacksonville State   1000000.0
45        James Madison    550000.0
46               Kansas   5000000.0
47         Kansas State   5500000.0
48       Kennesaw State    500000.0
49           Kent State    525000.0
50             Kentucky   8600000.0
51                  LSU   9500000.0
52              La Tech    950000.0
53              Liberty   4000000.0
54            Louisiana    755000.0
55           Louisville   5100000.0
56             Marshall   1000000.0
57             Maryland   4000000.0
58              Memphis   1915000.0
59           Miami (FL)   8000000.0
60           Miami (OH)    550000.0
61             Michigan   5500000.0
62       Michigan State   6000000.0
63     Middle Tennessee   1000000.0
64            Minnesota   6000000.0
65    Mississippi State   4500000.0
66             Missouri   6250000.0
67       Missouri State    450000.0
68             NC State   5000000.0
69                 Navy    600000.0
70             Nebraska   9000000.0
71               Nevada   1050000.0
72           New Mexico   1150000.0
73     New Mexico State    600000.0
74       North Carolina  10000000.0
75          North Texas   1200000.0
76    Northern Illinois    677000.0
77           Notre Dame   5000000.0
78                 Ohio    850000.0
79           Ohio State  12500000.0
80             Oklahoma   7250000.0
81       Oklahoma State   7625000.0
82         Old Dominion    775000.0
83             Ole Miss   9000000.0
84               Oregon  10000000.0
85         Oregon State   2000000.0
86           Penn State   7000000.0
87           Pittsburgh   5800000.0
88               Purdue   6000000.0
89              Rutgers   6250000.0
90                  SMU   3500000.0
91          Sam Houston   1250000.0
92      San Diego State   1750000.0
93       San Jose State   1500000.0
94        South Alabama    825000.0
95       South Carolina   6360000.0
96        South Florida   2500000.0
97        Southern Miss    824000.0
98             Syracuse   3500000.0
99                  TCU   5000000.0
100              Temple    625000.0
101           Tennessee   9000000.0
102               Texas  10600000.0
103           Texas A&M   7000000.0
104         Texas State   1000000.0
105          Texas Tech   4100000.0
106              Toledo   1100000.0
107                Troy    900000.0
108              Tulane   2000000.0
109               Tulsa    225000.0
110                 UAB   1300000.0
111                 UCF   5000000.0
112                UCLA   3000000.0
113               UConn   1500000.0
114           UL-Monroe    350000.0
115               UMass   1300000.0
116                UNLV   3500000.0
117                 USC  10000000.0
118                UTEP    825000.0
119                UTSA   2800000.0
120                Utah   6200000.0
121          Utah State   1150000.0
122          Vanderbilt   3051881.0
123            Virginia   4240000.0
124       Virginia Tech   4000000.0
125         Wake Forest   2500000.0
126          Washington   7500000.0
127    Washington State   1570000.0
128       West Virginia   4000000.0
129    Western Kentucky    900000.0
130    Western Michigan    850000.0
131           Wisconsin   5000000.0
132             Wyoming   1100000.0